
html {
  height: 100%;
  width: 100%;

}

body {
  background-color: #F4F0DC;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row-reverse;

}
.div, h2 {
  padding: 0px;
  margin: 0px;

}

.banner-title {
  position: absolute;
  z-index: 1000;
  font-family: 'Bungee', cursive;
  font-size: 48px;
  color: #9B251F;

}

.banner-title.plain {
  right: 56%;

}

.banner-title.chess {
  left: 56%;

}
.banner {
  margin-right: 60px;
  margin-left: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}


.banner img {
  width: 100%;
  height: auto;

}
.board {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}

.board.main {
  width: 484px;
  margin: 0px;

}

.row {
  width: auto;

  display: inherit;
  flex-direction: row;
}

.topHeader {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


.colHeader, .rowHeader {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  height: 60px;
  width: 60px;
  font-family: 'Bungee Hairline', cursive;
  font-size: 36px;
  color: #3E4371;
}

.white {

}

.black {
  background-color: #90D7B9;
}

.rowHeader {
  align-items: center;
  justify-content: flex-end;
}
.main {
  margin-top: 0px;
}

.colHeader {

  align-items: flex-start;
  justify-content: center;
}
.errors {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-left: 15px;
  padding-top: 5px;
}

#p {
  height: 70%;
  width: auto;
}

#r, #h, #b, #k, #q {
  transform: scale(.9);
}


#messages {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  width: 100%;
  border: 2px solid #9B251F;
  background-color: #FBF7E5;
  max-height: 300px;
  margin-top: 25px;
  padding-top: 15px;
  height: 100%;
}

div.space:hover {
  border: 1px solid #3E4371;

  cursor: pointer;
}
.space {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
}

.space img {
  height: 60px;
  width: auto;

}
@media (max-width: 600px) {
  #messages {
    position: absolute;
    display: none;
  }

  .rowHeader {
    width: 20px;
  }

  div.banner {
    position: absolute;
    display: none;
  }

  .board {
    width: 100%;
    align-items: flex-start;
  }

  
}
