
html {
  height: 100%;
  width: 100%;

}

body {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row-reverse;

}
.div, h2 {
  padding: 0px;
  margin: 0px;

}

.banner-title {
  position: absolute;
  z-index: 1000;
  font-family: 'Bungee', cursive;
  font-size: 72px;
  color: #9B251F;

}

.banner-title.plain {
  left: -35px;

}

.banner-title.chess {
  right: -20px;

}
.banner {
  margin-right: 60px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}


.banner img {
  width: 100%;
  height: auto;
}
.board {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}

.board.main {
  width: 484px;

}

.row {
  width: 484px;

  display: inherit;
  flex-direction: row;
}

.topHeader {
  width: 484px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


.colHeader, .rowHeader {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  height: 52px;
  width: 52px;
}

.rowHeader {
  align-items: center;
  justify-content: flex-end;
}

.colHeader {
  align-items: flex-end;
  justify-content: center;
}

div.space:hover {
  background-color: #aaa;
  cursor: pointer;
}
.space {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.space img {
  height: 50px;
  width: auto;

}
